.navbar-nav.mr-auto {
  margin-right: auto;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.logo {
  font-size: 32px;
  font-family: 'Great Vibes', cursive;
  filter: brightness(150%);
  position: relative;
}

.sublogo {
  font-size: 32px;
  font-family: 'Forum', cursive;
  filter: brightness(150%);
  position: relative; /* Add this line */
}

  /* Footer */
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00573b;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
  }
  
  .socials a i {
    font-size: 1.5rem;
    width: 20px;
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: #4267B2;
  }
  
  .footer-bottom {
    background: #00573b;
    width: 100;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #05d694;
  }
  
  @media (max-width: 500px) {
    .footer-menu ul {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  
  
  /*Divider*/
  body { background: rgb(255, 255, 255); }
          
          .divider {								/* minor cosmetics */
              display: table; 
              font-size: 24px; 
              text-align: center; 
              width: 75%; 						/* divider width */
              margin: 3px auto;					/* spacing above/below */
          }
          .divider span { display: table-cell; position: relative; }
          .divider span:first-child, .divider span:last-child {
              width: 50%;
              top: 38px;							/* adjust vertical align */
              -moz-background-size: 100% 2px; 	/* line width */
              background-size: 100% 2px; 			/* line width */
              background-position: 0 0, 0 100%;
              background-repeat: no-repeat;
          }
          .divider span:first-child {				/* color changes in here */
              background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#00573b));
              background-image: -webkit-linear-gradient(180deg, transparent, #00573b);
              background-image: -moz-linear-gradient(180deg, transparent, #00573b);
              background-image: -o-linear-gradient(180deg, transparent, #00573b);
              background-image: linear-gradient(90deg, transparent, #00573b);
          }
          .divider span:nth-child(2) {
              color: #000000; padding: 0px 5px; width: auto; white-space: nowrap;
          }
          .divider span:last-child {				/* color changes in here */
              background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00573b), to(transparent));
              background-image: -webkit-linear-gradient(180deg, #00573b, transparent);
              background-image: -moz-linear-gradient(180deg, #00573b, transparent);
              background-image: -o-linear-gradient(180deg, #00573b, transparent);
              background-image: linear-gradient(90deg, #00573b, transparent);
          }
  
  /*Collapsible*/
  .collapsible-button {
            background-color: #ffffff;
            color: #00573b;
            position: relative;
            text-decoration: none;
            padding: 10px 20px;
            font-family: 'Quicksand', sans-serif;
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
          }
        
          .collapsible-button::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: transparent;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
          }
        
          .collapsible-button:hover,
          .collapsible-button.active {
            background-color: rgba(0, 87, 59, 0.2);
            box-shadow: 0 0 5px rgba(0, 87, 59, 0.2);
          }
        
          .collapsible-button:hover::before,
          .collapsible-button.active::before {
            transform: scaleX(0.1);
            background-color: #00573b;
          }
        
          .collapsible-button.active {
            text-decoration: none; 
          }
        
          .collapsible-content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
          }
        
          .collapsible-content-active {
            max-height: initial;
          }
          